<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>770307244145-bq5ujbfhpkmn2pcnj6go02h5f4com0ir.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.770307244145-bq5ujbfhpkmn2pcnj6go02h5f4com0ir</string>
	<key>API_KEY</key>
	<string>AIzaSyD-zFYLTP1nCNhk1eUrBpbEFwnkkCPOT0o</string>
	<key>GCM_SENDER_ID</key>
	<string>770307244145</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hotelreservationtask</string>
	<key>PROJECT_ID</key>
	<string>task3-44d0c</string>
	<key>STORAGE_BUCKET</key>
	<string>task3-44d0c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:770307244145:ios:4982b998193fbcd94e5bd0</string>
	<key>DATABASE_URL</key>
	<string>https://task3-44d0c-default-rtdb.firebaseio.com</string>
</dict>
</plist>